* {
    margin: 0 !important;
    padding: 0 !important;
}

html, body{
    width: 100% !important;
}


.user-profile{
    background-color: aquamarine;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
}

.user-profile img{
    overflow: hidden;
    object-fit: cover;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.filled-arrow {
    display: none;
    width: fit-content;
    position: absolute;
    top: 0;
    right: -2rem;
}

.empty-arrow {
    display: block;
    width: fit-content;
    position: absolute;
    top: 0;
    right: -2rem;
}

/* .empty-arrow:hover .filled-arrow {
    display: block;
}

.empty-arrow :hover {
    display: none;
} */

.edit-details {
    position: relative;
    width: fit-content;
}


.edit-details-content {
    display: none;
}

