.create-content {
  /* margin: 3rem !important; */
  /* animation: create 2s cubic-bezier(0.5, 0, 0.75, 0) 0s 1 normal none; */
}

.sub-btn button {
  margin-top: 0rem !important;
  width: 7rem !important;
  height: 2rem;
  font-size: 15px;
  font-weight: 500;
  border-color: transparent;
  border: transparent;
}


.create-sub-btn {
  appearance: none;
  background-color: #FFFFFF;
  border-width: 0;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  letter-spacing: 0;
  line-height: 1em;
  margin: 0;
  opacity: 1;
  outline: 0;
  padding: 1.5em 2.2em;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-rendering: geometricprecision;
  text-transform: uppercase;
  transition: opacity 300ms cubic-bezier(.694, 0, 0.335, 1), background-color 100ms cubic-bezier(.694, 0, 0.335, 1), color 100ms cubic-bezier(.694, 0, 0.335, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

.create-sub-btn:before {

  border-radius: 5px !important;
  animation: opacityFallbackOut .5s step-end forwards;
  backface-visibility: hidden;
  background-color: rgb(8, 8, 8);
  clip-path: polygon(-1% 0, 0 0, -25% 100%, -1% 100%);
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: translateZ(0);
  transition: clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1), -webkit-clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1);
  width: 100%;
}

.create-sub-btn:hover:before {
  clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
}

.create-sub-btn:after {
  background-color: #FFFFFF;
}

.create-sub-btn span {
  z-index: 1;
  position: relative;
}



.require-error-message .list-group-item-danger {
  padding-left: 1rem !important;
}

.create-form input {
  height: 2.5rem !important;
  padding-left: 0.5rem !important;
  padding-right: 0.5rem !important;
}



input[type="file"] {
  height: 2.5rem;
  line-height: 2.5rem;
  padding: 0;
  margin: 0;
  display: block;
  cursor: pointer;
}

.create-form select {
  height: 2.5rem;
  line-height: 2.5rem;
  padding-left: 0.5rem !important;
  display: block;
  cursor: pointer;

}




.poppins-regular-details {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 18px;
}


.create-heading {
  margin-bottom: 3rem !important;
}
