/* Base styles (default for all screen sizes) */
html,
body {
    margin: 0;
    overflow: hidden;
}



.log-body {
    background-color: #243642;
    width: 100%;
    height: 550px !important;
    overflow: hidden;
}

.input-feild {
    height: 50px;
    border-radius: 3rem !important;
    text-align: center;
    color: #243642;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    font-style: normal;
}

.login-text {
    margin-bottom: 3.5rem !important;
    color: #243642;
}

.login-form form input:focus {
    text-align: center;
    color: #243642;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    font-style: normal;
}

.login-form form input::placeholder {
    text-align: center;
    line-height: normal;
}

.login-content {
    top: 2rem;
    right: -11rem;
    text-align: center;
    width: 17rem;
}

.login-form {
    width: 19rem;
    padding-top: 5rem !important;
    padding-right: 1rem !important;
    text-align: center;
}

.left-image {
    z-index: -1;
    position: absolute;
    top: 30px;
    /* left: 46.75rem; */
    left: 52.5rem;
    overflow: hidden;
    height: 40rem;
}

.left-image img {
    background-color: transparent;
    width: fit-content;
    width: 22rem;
    height: 100% ;
}

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.white-line {
    top: 5rem;
    height: 25.5rem;
    width: fit-content;
    padding: 0;
    margin: 0;
    background-color: white;
    z-index: -2;
}

.logout-btn button {
    text-align: center;
    font-weight: 400;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    background-color: #243642;
    color: white;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logout-btn button:hover {
    background-color: #1a2730;
    color: white;
    font-weight: 400;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-side-page {
    width: 60% !important;
}

.right-side-content {
    margin-top: 14rem !important;
    width: 100%;
    padding-left: 1rem !important;
}

.left-side-content {
    width: 40% !important;
}

.welcome-text {
    font-size: 5rem !important;
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    color: #243642;
}

.welcome-breif {
    font-size: 15px;
    color: #243642;
    font-family: "Poppins", sans-serif;
    padding-left: 1rem !important;
    width: 70% !important;
}
    


/* Mobile (up to 767px) */
/* @media (max-width: 430px) {
    
    .parent-dev{
        display: flex !important;
        justify-content: center;
        flex-direction:column !important;
    }
    .welcome-text {
        font-size: 2rem !important;
    }



} */